// app global css in SCSS form

html {
  overflow: hidden;
  scroll-behavior: smooth;
  /*   body {
    min-height: 0;
  } */

  body {
    .PageSection {
      border: solid 5px;
      text-align: center;

      overflow-y: scroll;
      height: calc(100vh - 50px);
    }
  }

  ul:before {
    content: attr(aria-label);
    font-size: 120%;
    font-weight: bold;
    margin-left: -15px;
  }
  ul {
    list-style-type: none;
  }

  /* SCROLLBAR SETTINGS (EXPERIMENTAL, MIGHT NOT WORK FOR EVERYONE) */
  .invisible-scrollbar,
  .mostly-customized-scrollbar {
    display: block;
    overflow: auto;
    height: 2em;
  }

  .mostly-customized-scrollbar::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #aaa;
  }

  .mostly-customized-scrollbar::-webkit-scrollbar-thumb {
    background: #000;
  }
  .invisible-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* ---------------------------------------------------------------- */
}

/* Tone down the animation to avoid vestibular motion triggers. */
@media (prefers-reduced-motion) {
  html {
    scroll-behavior: auto;
  }
}
